* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #F0FAFF;
}
.top-logo {
    width: 186px;
    margin-top: 25px;
}

.blockchain_orange {
    color: #F7933C;
    font-size: 40px;
}

.blockchain_blue {
    color: #244486;
    font-size: 40px;
}
.blockchain_heading {
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    margin-top: 31px;
}

.blockchain_content p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #244486;
    font-size: 14px;
}

#form {
    background-color: #244486;
    color: white;
    padding: 25px;
    margin-top: 42px;
    width: 85%;
    border-radius: 21px;
}

#form input {
    width: 100%;
    border-radius: 10px;
}

label {
    padding: 8px;
}

button#readmore1 {
    width: 90%;
    border-radius: 9px;
    padding: 9px;
    margin-left: 15px;
}

button#readmore2 {
    width: 23%;
    border-radius: 9px;
    padding: 10px;
    font-weight: bold;
}

button#readmore3 {
    width: 26%;
    border-radius: 9px;
    padding: 9px;
    font-weight: bold;
}

button#readmore4 {
    width: 26%;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.text_1 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.div-headings {
    color: #A5A5A5;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

.section-heading {
    padding: 70px;
    font-size: 30px;
    color: #03073C;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;

}

.blockchain-solution-content p.text-3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.text-3 {
    font-size: 15px;
    color: #244486;
    padding-top: 10px;
}

.text-4 {
    color: #244486;
}

.blockchain-solution {
    padding: 40px;

}

.section-3 p.section-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.blockchain-solution:hover {
    background: linear-gradient(#5A8DF6 #DBB8FF78)
}

.readmorebutton {
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    width: 270px;
    margin-top: 20px;
    padding: 5px;
    background-color: #F7933C;
}

.section-3 p.section-heading.text-center {
    padding-bottom: 0;
}

.section-3 .row {
    margin-top: 20px;
}

.section-3 .row img {
    width: 100%;
}

.section-9 p.section-heading.text-center {
    padding-bottom: 0;
}

.section-9 .row {
    margin-top: 20px;
}

.section-9 .center-pera {
    text-align: center;
    display: block;
}

.section-9 {
    margin-bottom: 0 !important;
    margin: 70px 0;
    background-color: #F0FAFF;
}

.section-9 {
    margin: 70px 0;
    background-color: #F0FAFF;
}

.blockchain-solution {
    border: 1px solid white;
    height: 300px;
    padding: 30px 30px;
    margin: 20px;
    background-color: #ffffff63;
}

.section-10 h1 {
    font-weight: bold;
}

.section-10 p.section-heading.text-center {
    padding-bottom: 0;
}

.section-10 {
    padding-bottom: 70px;
    margin: 70px 0;
    background-color: #F0FAFF;
}

.section-10.text-center {
    padding-top: 50px;
    margin-top: 0;
}

img.block-chain-pic {
    width: 100%;
    border-radius: 10px;
}

.section-11 p.section-heading.text-center {
    padding-bottom: 0;
}

.section-11 .row p.center-pera {
    padding-bottom: 30px;
    text-align: center;
}

.section-12 img {
    margin-bottom: 28px;
}

button#readmore {
    margin: auto;
    width: 23%;
    border-radius: 9px;
    padding: 9px;
}

.section-13.text-center {
    margin: 70px 0;
    box-sizing: border-box;
    padding: 70px;
    color: #fff;
    background-color: #244486;
    font-family: 'Inter', sans-serif;
}
.section-13 h1{
    font-weight: 800;
}

.section-11 p.text-4 {
    height: 292px;
    padding: 20px;

}
.section-5 p.text-4 {
    font-size: 22px;
    padding-top: 27px;
    padding-bottom: 12px;
    font-weight: bold;
}

.bg-special {
    background-color: #f0faff;
}

.footer p.text-3 {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    
}

.line {
    color: rgba(64, 123, 255, 0.5);
    background-color: rgba(64, 123, 255, 0.5);
    width: 91%;
    margin: 41px;
    height: 2px;
}

.blockchain-solution-background {
    margin-top: 100px;
    background-image: url(./images/Rectangle\ 29.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
}

.section-4 {
    padding-top: 60px;
    padding-bottom: 69px;
    background-color: #f0fAFF;
}

.how-we-heading {
    font-size: 35px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0em;
    font-family: 'Inter', sans-serif;
}

.prev_icon {
    margin-top: 40%;
}

.next_icon {
    margin-top: 40%;
}

.how-do-we-do-this-paragraph {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.carousel-inner {
    position: relative;
    width: 91%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 54px;
}

#carouselExample {
    background-color: #143376;
    box-shadow: 0px 35px 50px -10px #14337666;
    border-radius: 40px;
    width: 1229px;
    height: 637.04px;
    margin: auto;
    padding: 0 40px;
}

.two-mobiles-slider_image {
    width: 411px;
    height: 431px;
    top: 2947px;
    left: 843px;
}

.carousel-text-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15em;
    font-family: 'Inter', sans-serif;
}

.carousel-text-heading {
    font-size: 35px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    font-family: 'Inter', sans-serif;
}

.carousel-text-long-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Inter', sans-serif;

}

.carousel-price {
    font-size: 25px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
}

.carousel-price-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.carousel-bottom-paragraph {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    margin-top: 44px;
    font-family: 'Inter', sans-serif;
}

.technologies-main-heading {
    color: #03073C;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    margin-top: 70px;
    font-family: 'Inter', sans-serif;
}

.section-6 ul {
    list-style: none;
    padding: 0;
}

.section-6 li {
    color: #244486;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.list-images {
    width: 25px;
    height: 25px;
    margin-top: 17px;
    margin-right: 17px
}

.our-proven-steps-section {

    text-align: center;
    padding: 40px 0px;
}

.proven-steps-main-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 35px;

}

.proven-steps-second-small-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.proven-step-content-column {
    display: flex;
    align-self: center;
}

.proven-step-col {
    display: flex;
    justify-content: left;
    align-self: center;
}

.proven-step-img-column {
    text-align: left;
}

.step-img-column {
    text-align: right;
}

.proven-step-content-column div {

    width: 50%;
    text-align: left;
}

.proven-step-col div {
    width: 50%;
    text-align: left;
}

.our-proven-steps-section p {
    color: #244486;
}

.proven-step-para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
font-family: 'Inter', sans-serif;
}

.proven-card-heading {
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
 font-family: 'Inter', sans-serif;
}

.proven-no {
    font-family: 'Inter', sans-serif;
    font-size: 85px;
    font-weight: 800;
    line-height: 35px;
    position: absolute;
    left: -30px;
    opacity: 10%;
}

.proven-card-num {
    font-family: 'Inter', sans-serif;
    font-size: 85px;
    font-weight: 800;
    line-height: 35px;
    position: absolute;
    opacity: 10%;
    right: 7em;
}

.section-heading1 {
    padding: 30px;
    font-size: 30px;
    color: #03073C;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
}

.why-choose-us .row {
    padding: 81px;
    row-gap: 43px;
}

.bg-special {
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: #f0faff;
}

.blockchain-solution:hover {
    border-radius: 20px;
    border: 1px solid #e5e5e5;
    background-color: #f0faff47;
}

.section-4 p.section-heading.text-center {
    padding-bottom: 0;
}

.section-5 {
    margin: 50px 0;
}

.section-6 p.section-heading {
    padding-top: 30px;
    padding-bottom: 30px;
}

.horizontal-line {
    margin: auto;
    height: 1px;
    background-color: #2444865c;
    margin-top: 50px;
    width: 70%;
}

.why-choose-us p.section-heading1.text-center {
    padding-bottom: 0;
}

.request {
    text-align: center;
}

.request p.section-heading.text-center {
    padding-bottom: 0;
}

.special .row {
    padding-bottom: 0 !important;
}

button.carousel-control-prev.prev_icon.position-absolute,
button.carousel-control-next.next_icon.position-absolute {
    top: 40px;
}

.section-4 .row {
    margin-right: 0;
}

#carouselExample {
    top: 30px;
}

#our-proven-steps-section .col-lg-6.proven-step-img-column {
    padding-left: 30px;
    padding-right: 30px;
}

section#our-proven-steps-section .row {
    justify-content: space-around;
    align-items: center;
}

.box-1 {
    margin: auto;
    width: 70%;
    position: relative;
    text-align: left;
}

.section-11 .position-absolute {
    left: 20px;
    top: -50px;
    position: absolute !important;
}

.section-11 .d-flex {
    align-items: center;
}

.client.d-flex img {
    padding-right: 20px;
}

span.client-position {
    font-family: poppins;
    font-size: 14px;
    color: #244486;
    font-weight: 400;
}

.bottom-img-mobile {
    display: none;
}

p.text-4-mobile {
    color: #244486;
    display: none;
}

@media screen and (min-width: 599px) and (max-width: 768px) {
    .section-1 img {
        margin: 12px 0;
        width: 60%;
    }

    #form {
        width: 100%;
    }

    button#readmore1 {
        display: block;
        width: 100%;
        margin-top: 30px !IMPORTANT;
        margin: auto;
    }

    .bg-special {
        text-align: center;
    }

    p.text-3 {
        margin: 17px 0;
        padding-left: 0;
    }

    .section-3 p.section-heading.text-center {
        padding: 30px;
    }

    button#readmore2,
    button#readmore3,
    button#readmore4 {
        width: 80%;
    }

    #carouselExample {
        height: 1427.04px;
    }

    .blockchain_content p {
        padding: 0 30px;
        font-size: 14px;
    }

    .header {
        background-color: #F0FAFF;
        padding: 20px;
    }

    .bottom-img-mobile img {
        width: 100%;
    }

    div#form label {
        display: block;
        text-align: left !important;
    }

    .section-1 {
        text-align: center;
    }

    p.section-heading.text-center {
        padding-top: 50px !important;
        padding: 20px;
        font-size: 25px;
    }

    p.section-heading {
        padding-bottom: 0 !IMPORTANT;
    }

    p.how-we-heading {
        font-size: 25px;
    }

    p.text-4-mobile {
        color: #244486;
        display: block;
    }

    .desktop-text {
        display: none;
    }

    .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    p.section-heading {
        padding: 0 !IMPORTANT;
    }

    .carousel-inner img {
        width: 100%;
    }

    .section-4 .row {
        flex-direction: column-reverse;
        margin: 15px !important;
        margin-right: 0;
        margin-left: 0;
    }

    p.text-white.carousel-text-paragraph {
        margin-top: 40px;
    }

    .carousel-inner .d-flex {
        flex-direction: column;
    }

    .carousel-inner p.ms-5.text-white.carousel-price {
        margin-left: 0;
    }

   .section-6 .d-flex {
        justify-content: start;
    }

    .section-6 {
        padding: 20px;
    }

    .blockchain-solution {
        border: none;
        border-radius: 25px;
    }

    .section-10 .row {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    p.proven-steps-main-heading {
        font-size: 25px;
    }

    ul.text-4 li {
        text-align: left;
    }

    .why-choose-us p.text-3 {
        text-align: left;
        padding-left: 33px;
    }

    button#readmore {
        width: 100%;
    }

    .blockchain-solution-background {
        width: 100%;
    }

    .section-11 p.text-4 {
        height: 329px;
        padding: 20px;
    }

    .row {
        text-align: center;
        padding: 0 20px;
    }

    section#our-proven-steps-section img {
        width: 100%;
    }

    .line {
        margin: auto;
        height: 2px;
        margin-bottom: 20px;
    }

    .why-choose-us .row {
        text-align: left;
        padding: 30px;
        row-gap: 43px;
    }

    .why-choose-us img {
        padding-left: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
    .bottom-img img {
        width: 91%;
        padding-top: 9%;
    }

    img.block-chain-pic {
        width: 100%;
        margin-top: 20px;
        border-radius: 10px;
    }

    .top-logo {
        width: 186px;
        margin-top: 25px;
        margin-left: 93px;
    }

    .blockchain_heading {
        margin-left: 35px;
    }

    #form {
        width: 85%;
    }

    #carouselExample {
        background-color: #143376;
        box-shadow: 0px 35px 50px -10px #14337666;
        border-radius: 40px;
        width: 1229px;
        height: 1000px;
        margin: auto;
        padding: 0 40px;
    }

    .two-mobiles-slider_image {
        width: 200px;
        height: 200px;
    }

    .blockchain-solution {
        height: 250px;
    }

    .blockchain-solution-content p.text-3 {
        padding-left: 0px;
        padding-top: 7px;
    }

    .section-1 img {
        width: 80%;
        margin-left: 40px;
    }

    .section-5 img {
        margin-left: 80px;

    }

    .section-heading {
        padding-bottom: 10px;
        font-size: 20px;
        color: #03073C;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    .blockchain-solution {
        border: 1px solid white;
        height: 299px;
        padding: 0px 49px;
        margin: 20px;
        background-color: #ffffff63;
    }

    .section-11 p.text-4 {
        height: 300px;
        font-size: 12px;
        width: 99%;
        padding: 25px;
        overflow: hidden;
    }

    button#readmore {
        width: 100%;
    }

    button#readmore2,
    button#readmore3,
    button#readmore4 {
        width: 100%;
    }
}